body {
    font-family: Arial, sans-serif;
}

h1 {
    background-color: #0B9FD1;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0B9FD1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #09729E;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0B9FD1;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0B9FD1;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    .container {
        padding: 10px;
    }

    input[type="text"] {
        width: 100%;
    }

    button {
        padding: 10px 15px;
    }

    table {
        margin-top: 10px;
    }

    th {
        font-size: 14px;
    }

    td {
        font-size: 14px;
    }

    ul li {
        font-size: 14px;
    }
}
